@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

svg.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
}

/*
marker: all above this line should be left as is, template may add/change it
to minimise merge conflicts add your project stuff below this line
*/
