---
title: Vanilla Toolkit Docs
theme: jekyll-theme-midnight
---

@import "{{ site.theme }}";

:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
